div.container {

    header {
        nav {
            display: flex;
            position: fixed;
            z-index: 99;
            width: 100%;
            img {
                width: 150px;
                height: auto;
                padding: 15px;
            }
            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                float: right;
                li {
                    display: flex;
                    color: white;
                    padding: 15px;
                    text-transform: uppercase;

                    &:hover {
                        color: #3bbaf5;
                    }
                }
            }
        }

        div.jumbotron {
            height: 90vh;
            background-size: cover;
            display: flex;
            justify-content: center;
            color: white;
            transition: ease-in-out 2s;
                div.jumboBlock {
                   
                    z-index: 25;
                    display: flex;
                    flex-direction: column;
        
                    align-self: center;
                    h2 {
                        margin: 20px 6px;
                        padding: 20px;
                        text-align: center;
                        font-size: 60px;
                    }
                    p {
                        margin: 20px 6px;
                    }
                    div.button {
                        font-size: 15px;
                        font-weight: bolder;
                        padding: 20px;
                        border: 1px solid #40c4ff;
                        width: fit-content;
                        margin: 10px;
                        align-self: center;
                        background-color: #40c4ff;
                        &:hover {
                            cursor: pointer;
                            background-color: #3bbaf5;
                        }
                    }
                    div.player {
                        margin: 6px;
                        width: 60px;
                        height: 60px;
                        background-color: white;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-self: center;
                        &:hover {
                            transition: ease 1s;
                            width: 70px;
                            height: 70px;
                        }

                        i {
                            color: #3e3e3e;
                            align-self: center;
                        }
                    }
                }
        }
    }
    
    main {
    
        background-color: white;
        
        section.services {
            display: flex;
            width: 90vw;
            margin: auto;
            justify-content: center;

            div.serviceCard{
                position: relative;
                
                width: 180px;
                height: 190px;
                margin: 20px;
                display: flex;
                flex-direction: column;
                background-color: #f2f8fc;
                &:hover {
                    animation-name: tiltTop;
                    animation-duration: 1s;
                    box-shadow: 2px 5px #22222228;
                }
                img {
                    padding: 20px;
                }

                h5 {
                    align-self: center;
                    margin: 10px;
                }
            }
        }
        section.adBox {
            background-color: white;
            width: 90vw;
            margin: auto;
            div.box {
                @include boxRules;

                div.textBox {
                  @include textRules;
                }

                div.imgBox {
                    @include imgRules;
                }
            }
        }

        section.global {

            div.box {
                display: flex;
                width: 90vw;
                margin: auto;
                justify-content: center;
                
                div.imgBox {
                    img {
                        max-width: 500px;
                        height: auto;
                    }
                }
                

                div.textBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 30px;
                    align-self: center;
                    width: 40%;
                    h3 {
                        font-size: 40px;
                    }
                
                    p {
                        font-size: 15px;
                    }

                    div.numberBox {
                        display: flex;

                        div.numberCell {
                            display: flex;
                            padding: 5px 20px;
                            flex-direction: column;
                            color: #40c4ff;
                        }
                    }
                }
            }
        }

        section.sliderProfile {
            background-image: url("img/slider-profile-bg.png");
            background-size: cover;
            display: flex;
             div.profileFeedback {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 height: 80vh;
                 width: auto;
                 margin: auto;
                 color: white;
                 * {
                     margin: 10px;
                     align-self: center;
                 }

                 h3 {
                     font-size: 25px;
                     font-weight: bolder;
                 }

                 h4 {
                     font-size: 15px;
                     text-transform: uppercase;
                 }
                
                 div {
                     display: flex;
                     
                    i {
                        &:hover {
                            background-color:  white;
                            border-radius: 50%;
                        } }                
                 }
                
             }
        }

        section.sideMenuContent {
            display: flex;
            flex-direction: row;
            width: 90vw;
            margin: 20px auto;
            color: #959595;

            div.sideList {
                display: inline-block;
                width: 40%;
                border: 1px solid rgb(243, 240, 240);
            
                ul {
                    list-style-type: none;
                    
                    li {
                        width: 100%;
                        border: 1px solid grey;
                        padding: 40px;
                        font-size: 25px;
                        font-weight: bold;

                        &.active, &:hover {
                            border-left: 8px solid blue;
                            background-color: #0707070e;
                        }
                    }
                }
            }

            div.contentBox {
                display: inline-block;
                position: relative;
                bottom: 110px;
                // position: absolute;
                padding: 20px;
                width: 55%;

                * {
                    padding: 5px;
                }
                h2 {
                    margin-bottom: 30px;
                    font-size: 35px;
                    font-weight: bold;
                }

                p {
                    font-size: 18px;
                }

                ul {
                    list-style-type: none;  
                    li {
                        i {
                            color: #3bbaf5;
                        }
                    }
                }

                img {
                    width: 100px;
                    position: relative;
                    bottom: 85px;
                    float: right;
                }
            }
        }

        section.sliderOffers {
            background-image: url("img/slider-offers-bg.png");
            background-size: cover;
            color: #959595;

            div.sliderBox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90vw;
                margin: auto;
                i.fa-heart {
                    display: none;
                }
                h2, h5 {
                    color: #3e3e3e;
                    align-self: center; 
                    padding: 10px;               
                }

                h2 {
                    font-size: 3.2rem;
                }

                h5 {
                    font-size: 1.16rem;
                }

                div.slider {
                    display: flex;
                    width: 100%;
                    margin: auto;
                    justify-content: space-between;
                    padding: 15px;
                    div.offerCard {
                       position: relative;
                        border: 1px solid #efefef;
                        display: inline-block;
                        width: 30%;

                        &:hover {
                            animation-name: tiltTop;
                            animation-duration: 1s;
                            box-shadow: 2px 5px #22222228;

                            i.fa-heart {
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }

                        div.titleLabel {
                            display: flex;
                            justify-content: space-between;
                            padding: 15px;
                            h3 {
                                font-size: 25px;
                                color: black;
                                &:hover {
                                    color: #3bbaf5
                                }
                            }
                            div.price {
                                width: fit-content;
                                padding: 5px 10px;
                                background-color: #3bbaf5;
                                border-radius: 25%;
                                color: white;
                            }
                            div.FREE {
                                width: fit-content;
                                padding: 5px 10px;
                                background-color: rgb(218, 155, 114);
                                color: white;
                                border-radius: 25%;
                            }
                        }

                        h4 {
                            font-size: 20px;
                            padding: 15px;
                            &:hover {
                                color: #3e3e3e;
                            }
                        }

                        p {
                            padding: 15px;
                        }

                        div.infoData {
                            display: flex;
                            padding: 15px;
                            div {
                                padding: 2px;
                                text-transform: uppercase;
                            }
                            div.spec:hover {
                                color: #3e3e3e
                            }
                        }
                    }
                }
                
            }

        }

        section.tutor {
            color: #959595;
            width: 90vw;
            margin: 30px auto;
            div.tutorBox {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                * {
                    align-self: center;
                    padding: 7px;
                }


                h2 {
                    color: #3e3e3e;
                    font-size: 3.2rem;
                    font-weight: 900;
                }

                h5 {
                    font-size: 1.16rem;
                }

                
                div.profileBox {
                    display: flex; 
                    justify-content: space-evenly;
                    div.profileCard {
                        display: flex;
                        flex-direction: column;

                        *{
                            align-self: center;
                        }

                        h3 {
                            color: #3e3e3e
                        }

                        h4 {
                            text-transform: uppercase;
                        }

                        img {
                            width: 170px;
                            height: 170px;
                        }
                        div.socialBar {
                            i:hover {
                                cursor: pointer;
                                color: #3bbaf5;
                            }
                        }
                    }
                }
            }
        }

        section.pricing {
            color: #959595;
            h2, p {
                text-align: center;
                padding: 8px;
            }

            h2 {
                color: #3e3e3e;
                font-size: 3.2rem;
            }
            table {
                width: 90vw;
                margin: auto;
                tr {
                    display: flex;
                    td , th{
                        min-width: 350px;
                        height: 60px;
                        border: 1px solid rgb(243, 240, 240);
                        font-size: 22px;
                        align-self: center;
                        padding: 20px;
                        text-align: center;
                    }
                    td.fas.fa-check{
                        color: green;
                    }
                    
                    th {
                        background-color: #f7fdff;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 15px;
                        height: 200px;
                        border-top: 3px solid #9ce0ff;
                        color: #3e3e3e;

                        img {
                            width: 75px;
                           align-self: center;
                        }
                    }
                    th#firstBox {
                        background-color: white;
                        justify-content: flex-end;
                        font-size: 26px;
                    }

                    th.active {
                        border-top: 3px solid #3bbaf5;
                    }
                    td.blank {
                        border: 0;
                    }

                    td.last {
                        background-color: #f7fdff;
                        height: 120px;
                        display: flex;
                        justify-content: center;
                        div.button {
                            width: fit-content;
                            align-self: center;
                            padding: 10px;
                            border: 1px solid rgb(243, 240, 240);
                            &:hover {
                                background-color: #40c4ff;
                                color: white; 
                            }
                            
                        }
                        div.button.active {
                            background-color: #40c4ff;
                            color: white;
                            &:hover {
                                background-color: #3bbaf5;
                            }
                        }
                    }
                }
            }
        }

        section.logoPartner {
            display: flex;
            width: 90vw;
            margin: 20px auto;
            justify-content: space-evenly;
            padding: 20px;

            img:hover {
                opacity: 0.75;
            }
        }
    }

    footer {
        background-color: #222222;
        display: flex;
        flex-direction: column;


        div.menuContacts {
            display: flex;
            color: whitesmoke;
            width: 90vw;
            margin: 20px auto;

            ul{
                list-style-type: none;
                width: 25%;
                padding: 25px;

                li {
                    padding: 10px;

                    &:hover {
                        color: #40c4ff;
                    }

                }

                li.first {
                    font-size: 25px;
                    font-weight: bold;

                    &:hover {
                        color: white;
                    }
                }



                li#footerLogo {
                    img {
                        width: 140px;
                        height: auto;
                    }

                }
            }
            
            ul#map {
                img {
                     width: 350px;
                     height: auto;
                    }
            }
        }

        div.lateEnding {
            width: 90vw;
            margin: auto;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgb(243, 240, 240);
            color: whitesmoke;
            padding: 15px;
            
            div.info {
                display: flex;
                * {
                    padding: 5px;
                }
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}
