div.container {

    header {

        div.jumbotron {
            background-image: url("img/jumbotron-1.jpg");
            height: 90vh;
            background-size: cover;
            display: flex;
            
            justify-content: center;
            
                div.jumboBlock {

                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    h2 {
                        text-align: center;
                        font-size: 60px;
                    }

                    div.button {
                        font-size: 15px;
                        font-weight: bolder;
                        padding: 20px;
                        border: 1px solid #40c4ff;
                        width: fit-content;
                        margin: 10px;
                        align-self: center;
                        background-color: #40c4ff;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
        }
    }
    
    main {
    
        background-color: white;
        
        section.services {
            display: flex;
            width: 90vw;
            margin: auto;
            justify-content: center;

            div.serviceCard{
                margin: 20px;
                display: flex;
                flex-direction: column;
                background-color: #9ce0ff;
                
                img {
                    padding: 20px;
                }

                h5 {
                    align-self: center;
                    margin: 10px;
                }
            }
        }
        section.adBox {
            background-color: white;
            width: 90vw;
            margin: auto;
            div.box {
                @include boxRules;

                div.textBox {
                  @include textRules;
                }

                div.imgBox {
                    @include imgRules;
                }
            }
        }

        section.global {

            div.box {
                display: flex;
                width: 90vw;
                margin: auto;
                justify-content: center;
                
                div.imgBox {
                    img {
                        max-width: 500px;
                        height: auto;
                    }
                }
                

                div.textBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 30px;
                    align-self: center;
                    width: 40%;
                    h3 {
                        font-size: 40px;
                    }
                
                    p {
                        font-size: 15px;
                    }

                    div.numberBox {
                        display: flex;

                        div.numberCell {
                            display: flex;
                            flex-direction: column;
                            color: #40c4ff;
                        }
                    }
                }
            }
        }

        section.sliderProfile {
            background-image: url("img/slider-profile-bg.png");
            background-size: cover;
            display: flex;
             div.profileFeedback {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 height: 80vh;
                 width: auto;
                 margin: auto;
                 * {
                     margin: 15px;
                     align-self: center;
                 }
                
                
             }
        }

        section.sideMenuContent {
            display: flex;
            flex-direction: row;
            width: 90vw;
            margin: 20px auto;

            div.sideList {
                display: inline-block;
                width: 40%;
                border: 1px solid grey;
            
                ul {
                    list-style-type: none;
                    
                    li {
                        width: 100%;
                        border: 1px solid grey;
                        padding: 40px;
                        font-size: 25px;
                        font-weight: bold;

                        &.active {
                            border-left: 2px solid blue;
                            background-color: lightgrey;
                        }
                    }
                }
            }

            div.contentBox {
                display: inline-block;
                padding: 20px;
                width: 55%;
                h2 {
                    margin-bottom: 30px;
                    font-size: 35px;
                    font-weight: bold;
                }

                p {
                    font-size: 18px;
                }

                ul {
                    list-style-type: none;  
                }

                img {
                    width: 100px;
                }
            }
        }

        section.sliderOffers {
            background-image: url("img/slider-offers-bg.png");
            background-size: cover;

            div.sliderBox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90vw;
                margin: auto;
                
                h2 {
                    align-self: center;                
                }

                h5 {
                    align-self: center;
                }
                div.slider {
                    display: flex;
                    width: 100%;
                    margin: auto;
                    div.offerCard {
                        display: inline-block;
                        width: 30%;
                    }
                }
                
            }

        }
    }
}
