div.container {

    header{

        div.jumbotron {

            div.box {
                // background-color: purple;
                height: 90vh;
                width: 100%;
                display: flex;
                justify-content: space-between;
                z-index: 1;
                position: absolute;

                img {
                    width: 100vw;
                }

                i {
                    position: absolute;
                    font-size: 40px;
                    color: lightgrey;
                    align-self: center;
                    z-index: 25;
                    

                    &:hover {
                        cursor: pointer;
                        color: grey;
                    }
                }
                i.fa-angle-right{
                    right: 0
                }

                i.fa-angle-left {
                    left: 0;
                }
            }
        }
    }

    main {
        div.sliderProfile {
            background-image: url("img/slider-profile-bg.png");
        }
    }
}